/* <uniquifier>: Use a unique and descriptive class name
   <weight>: Use a value from 200 to 700 */
.oswald-Main_Heading {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.oswald-Sub_Heading {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

img{
    width: 68vw;
    height: auto;
    display: block;
}

main{
    width: 68vw;
    margin-left: 16vw;
}

footer {

}

p{
    text-align: left;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
}